<ng-container  *ngIf="!categories; else edit">
  <input
 
    style="display: none"
    type="file" (change)="uploadedFile($event)"
    #fileInput>
  <button mat-raised-button (click)="fileInput.click()">Upload</button>
</ng-container>

<ng-template #edit>


  <mat-tab-group>
    <mat-tab *ngFor="let category of categories" label="">
      <ng-template mat-tab-label>
        {{category.name}} &nbsp;
        <span class="fa" [ngClass]="category.icon"></span>
    </ng-template>
    <app-questions-table [questions]="category.questions" (editQuestion)="editQuestion(category, $event )" (deleteQuestion)="deleteQuestion(category, $event)">

    </app-questions-table>

      <br />
      <div class="buttons">
        <button style="margin-right:1rem;" mat-raised-button  type="button" (click)="editCategory()" >+ Add category</button>
        <button style="margin-right:1rem;" (click)="editCategory(category)" mat-raised-button color="primary">
          Edit category
        </button>
        <button style="margin-right: 1rem;" (click)="editQuestion(category)" mat-raised-button color="primary">
         + Add question
        </button>
        <button  mat-raised-button  type="button" (click)="saveText()">Save</button>
      </div>
      <br />
      <br />
      
    </mat-tab>
  </mat-tab-group> 

</ng-template>

